.nehalCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .per {
    border-radius: 20px;
    border-width: 10px;
    border-color: #0fa;
    border-style: double;
    width: 200px;
    height: auto;
  }
  
  .text {
    margin-top: 10px;
  }
  
  .name {
    font-weight: bold;
    font-size: medium;
  }
  
  .title {
    font-size: small;
    color: gray;
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    .per {
      width: 150px;
    }
  
    .name {
      font-size: small;
    }
  
    .title {
      font-size: x-small;
    }
  }
  